<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Cleaning_SkipSortUsingStatementsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_HideBuildProgressOnBuildStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_ExclusionExpression" serializeAs="String">
                <value>\.Designer\.cs$||\.Designer\.vb$||\.resx$||sqlfile.cs</value>
            </setting>
            <setting name="Cleaning_SkipRemoveUnusedUsingStatementsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_UsingStatementsToReinsertWhenRemovedExpression"
                serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Cleaning_RemoveRegions" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Collapsing_CollapseSolutionWhenOpened" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RegionsInsertNewRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Reorganizing_RegionsIncludeAccessLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveEndOfFileTrailingNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Progressing_ShowBuildProgressOnBuildStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Progressing_ShowProgressOnWindowsTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_UpdateAccessorsToBothBeSingleLineOrMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_Multithread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
                <value>Constructors||4||Constructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeMethods" serializeAs="String">
                <value>Methods||6||Methods</value>
            </setting>
            <setting name="Reorganizing_MemberTypeProperties" serializeAs="String">
                <value>Properties||5||Properties</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEnums" serializeAs="String">
                <value>Enums||1||Enums</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDestructors" serializeAs="String">
                <value>Destructors||7||Destructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDelegates" serializeAs="String">
                <value>Delegates||8||Delegates</value>
            </setting>
            <setting name="Reorganizing_MemberTypeIndexers" serializeAs="String">
                <value>Indexers||10||Indexers</value>
            </setting>
            <setting name="Reorganizing_MemberTypeClasses" serializeAs="String">
                <value>Classes||11||Classes</value>
            </setting>
            <setting name="Reorganizing_MemberTypeFields" serializeAs="String">
                <value>Fields||3||Fields</value>
            </setting>
            <setting name="Reorganizing_MemberTypeStructs" serializeAs="String">
                <value>Structs||12||Structs</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEvents" serializeAs="String">
                <value>Events||9||Events</value>
            </setting>
            <setting name="Reorganizing_MemberTypeInterfaces" serializeAs="String">
                <value>Interfaces||2||Interfaces</value>
            </setting>
            <setting name="Cleaning_IncludeXAML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeSCSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeTypeScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeCSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeJSON" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_IncludeJavaScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeLESS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Digging_ComplexityAlertThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Digging_ComplexityWarningThreshold" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Cleaning_SkipRemoveAndSortUsingStatementsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_IconSet" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="General_Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Formatting_CommentRunDuringCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankSpaceBeforeSelfClosingAngleBrackets"
                serializeAs="String">
                <value>True</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>